h3.return-search{
    /* text-decoration: none !important; */
    -webkit-text-stroke: 2px black;
    border: 4px solid black !important;
    padding: 0 200px 0 200px;
}

.underline{
    text-decoration: inherit;
}

.button{
    padding: 10px;
    margin: 30px;
    font-size: 40px;
    font-family: 'Bangers';
}