@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h3.return-search{
    -webkit-text-stroke: 2px black;
    border: 4px solid black !important;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    margin: 0 auto !important;
    background-color: teal;
}

.underline{
    margin: 0 auto !important;
    text-decoration: inherit;
}

.character-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.char-img-desc h3{
    border: 2px solid white;
    border-radius: 40px;
}

.character-img{
    height: 375px;
    width: 375px;
}

.buttons{
    cursor:'pointer';
    width: 165px;
    height: 250px;
    margin: 20px;
    padding: 0 auto !important;
    font-size: 20px;
    font-family: 'Bangers';
    background-image: url('https://res.cloudinary.com/acurunner79/image/upload/c_scale,w_165/v1627868572/marvelcomictemplate2_o8ee4t.png');
    color: rgb(248, 247, 247) !important;
    text-shadow: black !important;
    -webkit-text-stroke: 0.5px black !important;
}

@media (min-width: 768px){
    
}

@media (min-width: 1024px){
    .char-img-desc{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .char-img-desc h3{
        align-items: center;
        max-width: 50%;
        max-height: 425px;
        padding: 25px;
        margin: 5px 0 0 85px;
    }

    .character-img{
        width: 425px;
        height: 425px;
    }
}