.underline {
    color: inherit;
    text-decoration: inherit;
    }

.a, div._nav {
    color: white;
    right: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 0;
    }
    
div._nav, a, li.links {
    text-decoration: none !important;
    }
  
#nav-title {
    font-weight: 600;
    font-size: 40px;
    text-decoration: none !important;
    }

.menu-bar {
    display: none;
    }
  
    .navlogo {
      padding: 45px 0 0 40px;
    }
  
    div.links-container li.links {
      font-size: 30px;
      padding-top: 20px;
    }
  
    .links-container {
      display: flex;
      text-decoration: none !important;
      flex-direction: column;
      justify-content: space-around;
      height: 250px;
      margin: auto 0;
    }
    
    .links-container li {
      text-decoration: none !important;
      margin: 0 25px;
      z-index: 50;
    }
  
    @media(min-width: 768px){
      /* div.right-nav {
        display: none !important;
        width: -100%;
      } */
  
      /* .right-nav{
        display: none;
      } */
    }
    @media (min-width: 1024px) {
        div._nav{
            height: 50px;
        }
      .menu-bar {
        display: flex;
        list-style: none;
        z-index: 100;
      }
  
      .links-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 480px;
        text-decoration: none !important;
      }
  
      div.links-container li.links {
        font-size: 25px;
      }
  
      .navlogo {
        padding-top: 20px;
      }
    }
  
    @media (min-width: 1440px){
      .links-container{
        width: 500px;
      }
    }
  
    @media (min-width: 2550px){
      .links-container{
        width: 670px;
      }
  
      div.links-container li.links {
        font-size: 40px;
      }
  
      .navlogo {
        width: 450px;
        padding-top: 50px;
      }
  
      div._nav a{
        padding-top: 60px !important;
      }
    }