body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Bangers','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 2px black;
  font-size: 30px;
  color: red;
  text-decoration: none !important;
  background: linear-gradient(180deg, rgb(253, 251, 251) 0%, rgb(248, 2, 2) 35%, rgb(0, 0, 0) 110%);
  background-repeat: no-repeat;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
